# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://srgcinhgjibncqwscrsu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNyZ2NpbmhnamlibmNxd3NjcnN1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc5NjM2MzYsImV4cCI6MjA2MzUzOTYzNn0.Zk_F1fCsjvXP8Ns9NwZzjFCFRElK728Eivk56tA7EPs